*/.DS_Store
templates/.DS_Store
templates/admin_template/.DS_Store
templates/admin_template/src/.DS_Store
templates/admin_template/src/assets/.DS_Store
.DS_Store
static/i18n/
media
uadmin.db
safeguard