{{ define "content" }}
  <div class="container p-3">
    <div class="card mb-3">
      <div class="card-header">
        <h4>
          Total Enforcers
        </h4>
      </div>
    <article class="stat-cards-item">
      <div class="stat-cards-icon primary">
        <i class="fa fa-user text-primary" aria-hidden="true"></i>
      </div>
      <div class="stat-cards-info">
        <p class="stat-cards-info__num">1</p>
        <p class="stat-cards-info__title">Total Enforcers</p>
      </div>
    </article>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h4>
          Total Incident Reports
        </h4>
      </div>
      <article class="stat-cards-item">
        <div class="stat-cards-icon primary">
          <i class="fa fa-envelope text-secondary" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">1</p>
          <p class="stat-cards-info__title">Total Incident Reports</p>
        </div>
      </article>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h4>
          Active Disasters
        </h4>
      </div>
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i class="fa fa-sun text-danger"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">1</p>
          <p class="stat-cards-info__title">Active Disaster</p>
        </div>
      </article>
    </div>

  </div>
{{ end }}