{{ define "content" }}
<div class="container p-3 pb-0 border-bottom bg-main">
  <h3>Welcome to Safeguard 24/7</h3>
</div>
  <div class="container p-3">
    <div class="card mb-3">
      <div class="card-header">
        <h4>
          Total Enforcers
        </h4>
      </div>
    <article class="stat-cards-item">
      <div class="stat-cards-icon primary">
        <i data-feather="user" aria-hidden="true"></i>
      </div>
      <div class="stat-cards-info">
        <p class="stat-cards-info__num">1</p>
        <p class="stat-cards-info__title">Total Enforcers</p>
      </div>
    </article>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h4>
          Total Incident Reports
        </h4>
      </div>
      <article class="stat-cards-item">
        <div class="stat-cards-icon primary">
          <i data-feather="user" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">1</p>
          <p class="stat-cards-info__title">Total Incident Reports</p>
        </div>
      </article>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h4>
          Active Disasters
        </h4>
      </div>
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="user" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">1</p>
          <p class="stat-cards-info__title">Active Disaster</p>
        </div>
      </article>
    </div>

  </div>
{{ end }}