<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.min.css" />
  <title>{{ .Title }}</title>
</head>

<body style="background-color: #616e83;">
  <section class="d-flex flex-column align-items-center justify-content-center" style="height:100vh;width: 100vw;">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <center>
          <h5 class="card-title">MDRRMO Bongabong</h5>
        </center>
        <div class="d-flex align-items-center flex-column gap-3">
          <div>
            <a href="/console/login/">
              <button class="btn btn-primary">MDRRMO - Console</button>
            </a>
          </div>
          <div>
            <a href="/mobile/login/">
              <button class="btn btn-primary">MDRRMO - Mobile</button>
            </a>
          </div>
          <div>
            <a href="/register/">
              <button class="btn btn-primary">MDRRMO - Register</button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>
</body>
<script src="/static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
