{{ define "content" }}
<div class="container-fluid">
  <div class="container-fluid mb-3">
    <div class="row col-12 d-flex align-items-center">
      <div class="col-10 col-md-10 col-sm-12">
        <div class="row">
          <div class="mb-0 col-10 col-md-8 col-sm-8 d-flex flex-row">
            <input type="text" id="searchEnforcerType" placeholder="Search..." class="form-control">
          </div>
          <div class="col-2 col-md-4 col-sm-4 d-flex flex-row">
            <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
          </div>
        </div>
      </div>
      <div class="col-2 col-md-2 col-sm-12">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newAlertLevelModal">New
              Alert Level</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- TODO: Loop through the enforcers; use cards as details -->
        <table class="table table-striped table-responsive">
          <thead class="thead-default">
            <tr>
              <th>Name</th>
              <th>Level</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="alert_tbody">
            {{ range .Alerts }}
              <td onclick="openAlert('{{ .ID }}')">{{ .Name }}</td>
              <td>{{ .Level }}</td>
              <td onclick="deleteAlert('{{ .ID }}')"><i class="fa fa-trash" aria-hidden="true"></i></td>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- * MODALS * -->
<!-- New Enforcer Type -->
<div class="modal fade" id="newAlertLevelModal" tabindex="-1" aria-labelledby="newAlertLevelTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAlertLevelTitle">New Alert Level</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/api/new_alert_level/" method="post">
          <div class="container mb-2">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" id="name">
            <input type="text" class="form-control" name="redirect_url" value="/console/alerts/" hidden>
            <small style="font-style: italic;">Help: Name can be low, medium, medium-high, etc.</small>
          </div>
          <div class="container mb-2">
            <label for="level">Level:</label>
            <input type="number" name="level" id="level" class="form-control">
          </div>
          <hr>
          <div class="container">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Disaster -->
<div class="modal fade" id="editAlertModal" tabindex="-1" aria-labelledby="editAlertTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAlertTitle">Edit Alert Levels</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="container mb-2">
            <label for="disaster">Name:</label>
            <input type="text" class="form-control" id="edit_name">
          </div>
          <div class="container mb-2">
            <label for="description">Level:</label>
            <input type="number" id="edit_level" class="form-control">
          </div>
          <hr>
          <div class="container">
            <button type="submit" class="btn btn-primary" id="editDisasterSave">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete enforcer type modal confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Disaster</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this disaster?
      </div>
      <div class="modal-footer">
        <button id="confirmed" type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

</div>
{{ end }}

{{ define "script" }}
<script src="/static/js/common.js"></script>
<script>
  function openAlert(id) {
    $('#editAlertModal').modal('show')
    localStorage.setItem("EditDisasterID", id)
    $.ajax({
      url: "/uadmin/api/d/alertlevel/read/?id=" + id,
      method: "get",
      success: function (resp) {
        console.log(resp["result"][0])
        var data = resp["result"][0]
        $('#edit_name').val(data.Name)
        $('#edit_level').val(data.Level)
      }
    })
  }

  $('#editDisasterSave').on('click', function () {
    var id = localStorage.getItem("EditDisasterID")
    var session = getCookie("session")
    $.ajax({
      url: "/uadmin/api/d/alertlevel/edit/" + id + "/?_name=" + $('#edit_name').val() + "&_level=" + $('#edit_level').val() + "&x-csrf-token=" + session,
      success: function () {
        $('#alert_tbody').empty()
        $('#alert_tbody').load(location.href + ' #alert_tbody>*');
        $('#editAlertModal').modal('hide')
      }
    })
  })

  function deleteAlert(id) {
    localStorage.setItem("DisasterID", id)
    console.log(id)
    $('#deleteModal').modal('show')
  }

  $('#confirmed').on('click', function () {
    let id = localStorage.getItem("DisasterID")
    let session = getCookie("session")

    $.get("/uadmin/api/d/alertlevel/delete/" + id + "/?x-csrf-token=" + session, function (resp) {
      console.log(resp)
    })
      .done(function () {
        console.log('Request completed successfully.');
        $('#deleteModal').modal('hide')
        $('#alert_tbody').empty()
        $('#alert_tbody').load(location.href + ' #alert_tbody>*');
      })
      .fail(function (xhr, status, error) {
        console.error('Error:', error);
      });
  })

</script>
{{ end }}