<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
  <!-- <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" /> -->
  <link rel="stylesheet" href="/static/css/styles.min.css" />
  <link rel="stylesheet" href="/static/css/custom_style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{ template "style" . }}
</head>

<body class="background-primary">
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-center">
          <a href="/console/dashboard/" class="text-nowrap logo-img mt-3">
            <img src="/static/assets/images/logo.png" height="70" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/dashboard/" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/enforcers/" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Enforcers</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/enforcertype/" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Enforcer Types</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/disasters/" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Disasters</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/alerts/" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Alert Levels</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/protocols/" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Protocols</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/incidents/" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Incident Reports</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/notifications/" aria-expanded="false">
                <span>
                  <i class="ti ti-notification"></i>
                </span>
                <span class="hide-menu">Notifications</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Inventory</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/items/" aria-expanded="false">
                <span>
                  <i class="ti ti-clipboard"></i>
                </span>
                <span class="hide-menu">Items</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/transactions/" aria-expanded="false">
                <span>
                  <i class="ti ti-files"></i>
                </span>
                <span class="hide-menu">Transactions</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Settings</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/console/settings/" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">User</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/logout/" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item d-block">
              <h3 class="nav-link">
              {{ .Title }}
              </h3>
          </li>
          </ul>

          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end gap-2">
              <li id="is_day" class="nav-item d-block"></li>
              <li id="temperature" class="nav-item d-block"></li>
              <li id="weather" class="nav-item d-block"></li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="/static/assets/images/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <!-- <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a> -->
                    <div class="d-grid">
                      <button class="btn btn-outline-primary mx-3 mt-2 btn-block" id="mode-btn">Mode</button>
                    </div>
                    <a href="/logout/" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->

      <div class="container-fluid background-primary">
        {{ template "content" . }}
      </div>
    </div>
  </div>
  <script src="/static/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/sidebarmenu.js"></script>
  <script src="/static/js/app.min.js"></script>
  <!-- <script src="/static/libs/apexcharts/dist/apexcharts.min.js"></script> -->
  <script src="/static/libs/simplebar/dist/simplebar.js"></script>
  <script src="/static/libs/plugins/feather.min.js"></script>
  <script>
    feather.replace();
  </script>
  <script async data-id="9121214817" id="chatling-embed-script" type="text/javascript"
    src="https://chatling.ai/js/embed.js"></script>
  <!-- <script src="/static/js/dashboard.js"></script> -->
  <script>
    // Set the mode if dark or light
    var mode = localStorage.getItem('mode');
    if (mode == null) {
      localStorage.setItem('mode', 'light');
    }

    if (mode == 'light') {
      $('body').attr('data-bs-theme', 'light');
      $('.app-header').css('background', '#fff');
      $('.left-sidebar').css('background-color', '#fff');
      $('.sidebar-link').css('color', '#000');
      $('.nav-small-cap').css('color', '#2A3547');
      $('.nav-link').css('color', '#2A3547');
      $('.card-title').css('color', '--bs-card-title-color');
      $('label').css('color', '--bs-card-title-color');
      $('input,textarea,select').css('color', '--bs-card-title-color');
      $('table').removeClass('table-dark');
    }

    if (mode == 'dark') {
      $('body').attr('data-bs-theme', 'dark');
      $('.app-header').css('background', '#212529');
      $('.left-sidebar').css('background-color', '#212529');
      $('.sidebar-link').css('color', '#fff');
      $('.nav-small-cap').css('color', '#fff');
      $('.card-title').css('color', '#fff');
      $('label').css('color', '#fff');
      $('input,textarea,select').css('color', '#fff');
      $('table').addClass('table-dark');
    }


    $('#mode-btn').on('click', function(){
      let mode = localStorage.getItem('mode');
      if (mode == null) {
        localStorage.setItem('mode', 'light');
      }else{
        if (mode == 'light') {
          localStorage.setItem('mode', 'dark');
          window.location.reload();
        }

        if (mode == 'dark') {
          localStorage.setItem('mode', 'light');
          window.location.reload();
        }
      }
    })

    var weather = {
      0 : "Clear Sky",
      1: "Mainly Clear",
      2: "Partly Cloudy",
      3: "Overcast",
      45: "Fog",
      48: "Depositing Rime Fog",
      51: "Light Drizzle",
      53: "Moderate Drizzle",
      55: "Dense Drizzle",
      56: "Light Freezing Drizzle",
      57: "Dense Freezing Drizzle",
      61: "Light Rain",
      63: "Moderate Rain",
      65: "Heavy Rain",
      66: "Light Freezing Rain",
      67: "Heavy Freezing Rain",
      80: "Slight Rain Showers",
      81: "Moderate Rain Showers",
      82: "Violent Rain Showers",
      95: "Thunderstorm",
    }

    $.ajax({
      url: "https://api.open-meteo.com/v1/forecast?latitude=12.7464&longitude=121.4874&current=temperature_2m,is_day,weather_code&timezone=Asia%2FSingapore&models=best_match",
      success: function(resp){
        console.log(resp)
        $('#temperature').html(resp["current"]["temperature_2m"]+"&deg;C")
        if (resp["current"]["is_day"] == 0){
          $('#is_day').append('<i class="fa-solid fa-moon"></i>')
        }
        if (resp["current"]["is_day"] == 1){
          $('#is_day').append('<i class="fa-solid fa-sun"></i>')
        }
        $('#weather').html(weather[resp["current"]["weather_code"]])
      }

    })
  </script>
  {{ template "script" . }}

  {{ define "style" }}{{ end }}
  {{ define "script" }}{{ end }}
</body>

</html>
