{{ define "style" }}

<style>
  .stat-cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 24px 19px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.1);
  box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.1);
  border-radius: 10px;
  height: 100%;

  .stat-cards-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 9px;
}

.stat-cards-icon.primary {
  background-color: rgba(47, 73, 209, 0.1);
  color: #2f49d1;
}

.stat-cards-icon.warning {
  background-color: rgba(255, 182, 72, 0.1);
  color: #ffb648;
}

.stat-cards-icon.purple {
  background-color: rgba(95, 46, 234, 0.1);
  color: #5f2eea;
}

.stat-cards-icon.success {
  background-color: rgba(75, 222, 151, 0.1);
  color: #4bde97;
}
.stat-cards-icon.danger {
  background-color: rgba(222, 75, 75, 0.1);
  color: #de4b4b;
}

.stat-cards-info__num {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #171717;
  margin-bottom: 4px;
}

.stat-cards-info__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  color: #b9b9b9;
  margin-bottom: 6px;
}

.stat-cards-info__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.22;
  color: #b9b9b9;
}

.stat-cards-info__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.22;
  margin-right: 10px;
}

.stat-cards-info__profit.success {
  color: #4bde97;
}

.stat-cards-info__profit.danger {
  color: #f26464;
}

.stat-cards-info__profit.warning {
  color: #ffb648;
}

.stat-cards-info__profit svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
}
</style>
{{ end }}
{{ define "content" }}
<div class="container background-primary">
  <div class="row mt-5">
    <div class="col-md-6 col-xl-4">
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="user" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">{{ .Enforcers }}</p>
          <p class="stat-cards-info__title">Total Enforcers</p>
        </div>
      </article>
    </div>
        

    <div class="col-md-6 col-xl-4">
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="message-circle" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">{{ .SMS }}</p>
          <p class="stat-cards-info__title">Total SMS Subscriber</p>
        </div>
      </article>
    </div>

    <div class="col-md-6 col-xl-4">
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="alert-circle" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">{{ .IncidentReport }}</p>
          <p class="stat-cards-info__title">Total Incident Report</p>
        </div>
      </article>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 col-xl-4">
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="package" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">{{ .Items }}</p>
          <p class="stat-cards-info__title">Total Items</p>
        </div>
      </article>
    </div>
        

    <div class="col-md-6 col-xl-4">
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="book" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">{{ .Transactions }}</p>
          <p class="stat-cards-info__title">Total Transactions</p>
        </div>
      </article>
    </div>

    <div class="col-md-6 col-xl-4">
      <article class="stat-cards-item">
        <div class="stat-cards-icon danger">
          <i data-feather="shopping-bag" aria-hidden="true"></i>
        </div>
        <div class="stat-cards-info">
          <p class="stat-cards-info__num">{{ .Stocks }}</p>
          <p class="stat-cards-info__title">Out of Stock Items</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 col-md-12 col-sm-12">
      <h4>Incidents this Month</h4>
      <canvas id="incidentCharts"></canvas>
    </div>
  </div>
  <hr class="m-5">
  <div class="col-6 col-md-12 col-sm-12">
    <h4>Transactions this Month (In and Out)</h4>
    <canvas id="transactionCharts"></canvas>
  </div>
  <hr class="m-5">
  <div class="col-6 col-md-12 col-sm-12">
    <h4>Distribution of Reported Disaster</h4>
    <canvas id="pieCharts"></canvas>
  </div>
  </div>
</div>
{{ end }}

{{ define "script" }}
<script src="/static/libs/chart/chart.min.js"></script>
<script>
var incidents_current_month = []
{{ range .Incidents }}
var incident_date_current_month = '{{ .IncidentDate }}'
var v = incident_date_current_month.split(" ")[0]
  incidents_current_month.push(v)
{{ end }}
let countOccurrences = incidents_current_month.reduce((accumulator, currentValue) => {
  if (accumulator[currentValue]) {
    accumulator[currentValue]++;
  } else {
    accumulator[currentValue] = 1;
  }
  return accumulator;
}, {});
let incidentsLabelArr = Object.keys(countOccurrences);
let incidentsDataArr = Object.values(countOccurrences);

var incidents_ctx = $("#incidentCharts").get(0).getContext("2d");
var incidents = new Chart(incidents_ctx, {
  type: "line",
  data: {
    labels: incidentsLabelArr,
    datasets: [{
      label: "Incidents Occurred this Month",
      fill: false,
      backgroundColor: "rgba(235, 22, 22, .7)",
      borderColor: "#13DEB9",
      data: incidentsDataArr
    }]
  },
  options: {
    responsive: true
  }
});

// Transaction Charts

  var transactions_current_month = []

  {{ range .TransactionsChart }}
  var transactions_date_current_month = '{{ .CreatedAt }}'
  var v = transactions_date_current_month.split(" ")[0]
  transactions_current_month.push(v)
  {{ end }}
  let transactionsOccurrence = transactions_current_month.reduce((accumulator, currentValue) => {
    if (accumulator[currentValue]) {
      accumulator[currentValue]++;
    } else {
      accumulator[currentValue] = 1;
    }
    return accumulator;
  }, {});
  let transactionsLabelArr = Object.keys(transactionsOccurrence);
  let transactionsDataArr = Object.values(transactionsOccurrence);

  var transactions_ctx = $("#transactionCharts").get(0).getContext("2d");
  var transactions = new Chart(transactions_ctx, {
    type: "line",
    data: {
      labels: transactionsLabelArr,
      datasets: [{
        label: "Transactions this Month (In and Out)",
        fill: false,
        backgroundColor: "rgba(235, 22, 22, .7)",
        borderColor: "#13DEB9",
        data: transactionsDataArr
      }]
    },
    options: {
      responsive: true
    }
  });

  let reports = []
  {{ range .Report }}
  reports.push('{{ . }}')
  {{ end }}

  let pieData = []
  let pieLabel = []
  let dataLength = reports.length

  console.log('Reports: ', reports)
  reports.forEach(val =>{
    console.log(val)
    pieData.push(val.split(":")[0])
    pieLabel.push(val.split(":")[1])
  })
  
  const pie_ctx = document.getElementById('pieCharts').getContext('2d');
  const data = {
    labels: pieLabel,
    datasets: [{
      data: pieData,
      backgroundColor: generateRandomColors(dataLength),
    }]
  };

  const config = {
    type: 'pie',
    data: data,
  };

  new Chart(pie_ctx, config);

  function getRandomColor() {
    // Generate random color in hexadecimal format
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }

  function generateRandomColors(numColors) {
    // Generate an array of random colors
    const colors = [];
    for (let i = 0; i < numColors; i++) {
      colors.push(getRandomColor());
    }
    return colors;
  }

</script>
{{ end }}