{{ define "style" }}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css">
{{ end }}
{{ define "content" }}
<div class="container-fluid">
  <div class="container-fluid mb-3">
    <div class="row col-12 d-flex align-items-center">
      <div class="col-2 col-md-2 col-sm-12">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEnforcerTypeModal">New
              Enforcer Type</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- TODO: Loop through the enforcers; use cards as details -->
        <table class="table table-striped table-responsive" id="enforcerTypeTable">
          <thead class="thead-default">
            <tr>
              <th>Designation</th>
              <th>Role</th>
              <th>Active</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody id="enforcerType_tbody">
              {{ range .EnforcerType }}
              <tr>
                <td onclick="openEnforcerType('{{ .ID }}')">{{ .Designation }}</td>
                <td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;max-width: 120px;">{{ .Role }}</td>
                {{ if .Active }}
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                {{ else }}
                <td><i class="fa fa-circle-xmark" aria-hidden="true"></i></td>
                {{ end }}
                <td onclick="deleteEnforcerType('{{ .ID }}')"><i class="fa fa-trash" aria-hidden="true"></i></td>
              </tr>
              {{ end }}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- * MODALS * -->
<!-- New Enforcer Type -->
<div class="modal fade" id="newEnforcerTypeModal" tabindex="-1" aria-labelledby="newEnforcerTypeTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newEnforcerTypeTitle">New Enforcer Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/api/new_enforcer_type/" method="post">
          <div class="container mb-2">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="designation">
            <input type="text" class="form-control" name="redirect_url" hidden value="/console/enforcertype/">
          </div>
          <div class="container mb-2">
            <label for="role">Role:</label>
            <textarea name="role" id="role" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="container mb-2">
            <label for="active">Active:</label>
            <select name="active" id="active" class="form-control">
              <option value="true" selected>Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <hr>
          <div class="container">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit enforcer type modal -->
<div class="modal fade" id="editEnforcerTypeModal" tabindex="-1" aria-labelledby="newEnforcerTypeTitle"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newEnforcerTypeTitle">Edit Enforcer Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="container mb-2">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="edit_designation">
          </div>
          <div class="container mb-2">
            <label for="edit_role">Role:</label>
            <textarea id="edit_role" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="container mb-2">
            <label for="edit_active">Active:</label>
            <select id="edit_active" class="form-control">
              <option value="true" selected>Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <hr>
          <div class="container">
            <button type="submit" class="btn btn-primary" id="editEnforcerTypeSave">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete enforcer type modal confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Enforcer Type</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the enforcer type?
      </div>
      <div class="modal-footer">
        <button id="confirmed" type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" onclick="closeModal('deleteModal')">No</button>
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "script" }}
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>
<script src="/static/js/common.js"></script>
<script>
  $(document).ready(function () {
      $('#enforcerTypeTable').DataTable();
    });

  function openEnforcerType(id){
    $('#editEnforcerTypeModal').modal('show')
      localStorage.setItem("EditEnforcerTypeID", id)
    $.ajax({
      url: "/uadmin/api/d/enforcertype/read/?id=" + id,
      method: "get",
      success: function (resp) {
        console.log(resp["result"][0])
        var data = resp["result"][0]
        $('#edit_designation').val(data.Designation)
        $('#edit_role').val(data.Role)
        $('#edit_active').val((data.Active).toString())
        console.log(data.Active)
        console.log($('#edit_active').val())
      }
    })
  }

    $('#editEnforcerTypeSave').on('click', function () {
        var id = localStorage.getItem("EditEnforcerTypeID")
        var session = getCookie("session")
        $.ajax({
          url: "/uadmin/api/d/enforcertype/edit/" + id + "/?_designation=" + $('#edit_designation').val() + "&_role=" + $('#edit_role').val() + "&_active=" + $('#edit_active').val() +"&x-csrf-token=" + session,
          success: function () {
            $('#enforcerType_tbody').empty()
            $('#enforcerType_tbody').load(location.href + ' #enforcerType_tbody>*');
            $('#editEnforcerTypeModal').modal('hide')
          }
        })
      })

  function deleteEnforcerType(id){
    localStorage.setItem("ID", id)
    console.log(id)
    openModal("deleteModal")
  }

  function closeModal(id){
    $('#'+id).modal('hide');
  }


  function openModal(id) {
    $('#' + id).modal('show');
  }

  $('#confirmed').on('click', function(){
    let id = localStorage.getItem("ID")
    let session = getCookie("session")

    $.get("/uadmin/api/d/enforcertype/delete/"+id+"/?x-csrf-token="+session, function(resp){
      console.log(resp)
    })
    .done(function () {
      console.log('Request completed successfully.');
      closeModal("deleteModal")
      $('#enforcerType_tbody').empty()
      $('#enforcerType_tbody').load(location.href + ' #enforcerType_tbody>*');
    })
    .fail(function (xhr, status, error) {
      console.error('Error:', error);
    });
  })
</script>
{{ end }}
